.container{
    display: flex;
    flex-direction: column;
}
@media screen and (width >= 768px) {
    .container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-inline: 352px;
    }
}