:root{
  --title-xl: 4.5rem;
  --title-l:2rem;
  --title-m:1.5rem;
  --text-bold:700;
  --text-s:1.125rem;
  --text-xs:1rem;

  --first-gradient:linear-gradient(#4D21C9, #6943FF, #2F2CE9);
  --second-gradient:   linear-gradient(#4D21C9, #2421c960, #2421c902);

  --primary-100: #ECF2FF;
  --primary-200:#d8dcff;
  --primary-300:#CAC9FF;
  --primary-500: #1125D6;
  --primary-600:#747d97;
  --primary-700: #303B59;

  --first-accent-color-900: #FF5555;
  --first-accent-color-100: #f1d7d7;

  --second-acent-color-900: #FFB21E;
  --second-accent-color-100: #fbecd1;

  --third-accent-color-900:#00BB8F;
  --third-accent-color-100:#b4e5da;

  --white: #FFFFFF;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--primary-100);
  color: var(--primary-700);
}
@media screen and(width >= 768px) {
  .body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}