.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 3.625rem 2.5rem 3.625rem;
    background-image: var(--first-gradient);
    border-radius: 0 0 2rem 2rem;
    gap: 1.5rem;
}
.title{
    color: var(--primary-300);
    font-weight: var(--text-bold);
    font-size: var(--text-s);
    margin: 0;
}
.subtitle{
    color: var(--white);
    font-size: var(--title-m);
    margin: 0;
}
.text{
    text-align: center;
    font-size: var(--text-xs);
    color: var(--primary-300);
    margin: 0;
}

.resultcontainer{
    width: 10rem;
    height: 10rem;
    padding: 1.5625rem 2.4375rem 2.6875rem 2.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    gap: 0.125rem;
    background-image: var(--second-gradient);
}
.result{
    font-size: var(--title-xl);
    font-weight: var(--text-bold);
    color: var(--white);

}
.resultof{
    font-size: var(--text-xs);
    color: var(--primary-300);
    margin: 0;
}
.messagecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}